@media only screen and (min-width: 601px){
    .our-feature ul li:nth-child(4n-1),
    .our-feature ul li:nth-child(4n){
        flex-direction: row-reverse;
    }

    .footer-container div:first-child {
        grid-column: span 4;
    }

    .footer-container div:last-child {
        grid-column: span 8;
    }
}

@media only screen and (max-width: 600px) {
    .nav ul {
        display: none;
    }
    .mobile-nav {
        display: block;
    }

    .mobile-nav .nav-dropdown ol {
        flex-direction: column;
        gap: 20px;
    }

    .hero-content{
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .hero-content h1{
        font-size: 3.2rem;
        text-align: center;
        padding-top: 0px;
    }

    .hero-content p{
        text-align: center;
        padding-right: 0px;
    }

    .hero-content button, .our-stars-content button{
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 0px;
        margin-top: 20px;
        margin-bottom: 30px; 
    }

    .promotion_logo img{
        width: 150px;
    }

    .featured_services{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }

    .featured_services li{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .our-benefit-content, .our-stars-content, .our-stars-content ul, .our-feature ul {
        grid-template-columns: 1fr;
    }

    .our-benefit, .our-feature {
        padding: 15px 0;
    }

    .our-benefit-content p, .our-stars-content p{
        text-align: center;
    }

    .our-benefit-content div:last-child {
        padding-left: 0px;
    }

    .our-benefit-content h1, .our-stars-content h1, .our-feature h1, .our-product-content h1, .promotional-banner h1{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 50px;
    }

    .our-stars-content div:first-child {
        order: 2;
    }

    .our-stars-content ul {
        text-align: center;
        font-size: 1.5rem;
    }

    .our-stars-content ul p {
        font-size: 1rem;
    }

    .our-stars-content img {
        padding: 0px 20px 20px 20px;
        height: 520px;
        object-fit: cover;
    }

    .our-feature ul li{
        flex-direction: column;
    }

    .our-feature ul h3{
        font-size: 1.5rem;
    }

    .our-product-content ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .promotional-banner{
        margin-top: 50px;
        border-radius: 0px;
    }

    .promotional-banner h1{
        max-width: 300px;
        font-weight: 500;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        margin-top: 70px;
    }

    footer .brand, footer .brand-desc{
        text-align: center;
        margin: auto;
    }

    .footer-container ol {
        justify-content: center;
    }


    footer .copyright{
        padding: 40px 0px 20px 0px;
    }

    .footer-container .nav-container, .nav-container form{
        flex-direction: column;
    }

    .nav-container ul li{
        text-align: center;
    }

    .nav-container h3 {
        text-align: center;
        margin-top: 40px;
    }

    .nav-container p{
        text-align: center;
        margin: auto;
    }

    .nav-container form input{
        width: 100%;
        padding: 20px 15px;
    }
}