*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

:root{
    --green-color: #06C167;
    --light-green-color: #F3FCF7;
    --black-color: #1D1D1F;
    --light-black-color: #7070703b;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Header */

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.brand {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--green-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul, .mobile-nav .nav-dropdown ol {
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
    color: var(--black-color);
}

.link:hover {
    color: var(--green-color);
    text-decoration: underline;
}

.mobile-nav {
    display: none;
    position: relative;
    z-index: 10;
}

.mobile-nav .nav-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black-color);
    transition: 0.5s;
    border: 1px solid transparent;
    padding: 2px;
}

.mobile-nav .nav-toggle :hover {
    color: var(--green-color);
    border: 1px solid var(--green-color);
}

.mobile-nav .nav-dropdown {
    position: fixed;
    top: 30px;
    right: 0px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    width: 200px;
    height: 100vh;
    display: none;
}

.mobile-nav:hover .nav-dropdown {
    display: block;
}

/* Hero Section */
.hero-section {
    background-color: var(--light-green-color);
    padding-top: 120px;
}

.hero-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding-bottom: 0px;
}

.hero-content img {
    width: 100%;
    border-radius: 10px;
}

.hero-content h1{
    font-size: 4.5rem;
    padding-top: 80px;
}

.hero-content p{
    opacity: 0.9;
    line-height: 22px;
    padding: 25px 0;
    padding-right: 80px;
}

.hero-content button, .our-stars-content button{
    background-color: var(--green-color);
    color: #fff;
    border: none;
    padding: 20px 30px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button span, .our-stars-content button span{
    margin-right: 10px;
}

.promotion_logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.border-bottom{
    border-bottom: 1px solid var(--light-black-color);
}

.promotion_logo img{
    width: 100%;
}

.featured_services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 50px 0;
}

.featured_services li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.featured_services h3{
    font-weight: 500;
    font-size: 1.07rem;
    color: var(--black-color);
}

.featured_services span{
    font-size: 1.5rem;
    color: var(--green-color);
    padding: 20px;
    background-color: var(--light-green-color);
    border-radius: 8px;
}

.featured_services  p{
    opacity: 0.8;
    padding-top: 5px;
    font-size: 0.9rem;
    text-wrap: nowrap;
}

/* Our benifit */

.our-benefit, .our-feature {
    padding: 150px 0;
}

.our-benefit-content, .our-stars-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}

.our-benefit-content div:last-child {
    padding-left: 50px;
}

.our-benefit-content img {
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    background-color: var(--light-green-color);
}

.our-benefit-content p, .our-stars-content p, .our-product-content p{
    padding-bottom: 20px;
}

.our-benefit-content h1, .our-stars-content h1, .our-product-content h1{
    font-size: 3.5rem;
    padding-bottom: 70px;
}

.our-benefit-content ul li{
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.our-benefit-content ul li span{
    color: var(--green-color);
}

.our-stars-content img {
    width: 100%;
    padding-left: 100px;
    background-color: var(--light-green-color);
    padding-bottom: 90px;
}

/* Our stars */

.our-stars-content ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.our-stars-content ul h6{
    font-size: 2.2rem;
    color: var(--green-color);
}

.our-stars-content ul p {
    opacity: 0.7;
}

/* Our feature */
.our-feature .feature-label{

    background-color: var(--light-green-color);
    display: block;
    margin: auto;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--green-color);
    border: 1px solid var(--green-color);
    font-weight: 500;
}

.our-feature .feature-label i{
    margin-left: 8px;
}

.our-feature h1{
    font-size: 3.5rem;
    text-align: center;
    padding: 30px 0 80px 0;
}

.our-feature ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.our-feature ul li{
    display: flex;
}

.our-feature ul li img{
    border: 1px solid var(--green-color);
    display: block;
    width: 290px;
    height: 290px;
    object-fit: cover;
    margin: auto;
}   

.our-feature ul li div:last-child{
    border: 1px solid var(--green-color);
    background-color: var(--light-green-color);
    display: flex;
    padding: 35px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.our-feature ul h3{
    font-size: 1.8rem;
}

.our-feature ul p{
    padding: 25px 20px 35px 0px;

}

.our-feature ul button{
    width: fit-content;
    color: var(--green-color);
    border: none;
    background-color: #E6F9F0;
    padding: 15px 25px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/* Our products */
.our-product-content ul{
    display: flex;
    gap: 30px;
}

.our-product-content ul .card{
    border: 1px solid var(--light-black-color);
    box-shadow: inset 0 0 0 0.02rem var(--light-black-color);
    padding: 10px 15px 20px 15px;
    border-radius: 10px;
    width: 270px;
    transition: 0.5s;
}

.our-product-content ul .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--green-color);
}

.review-star{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.our-product-content img{
    width: 190px;
    height: 190px;
    display: block;
    object-fit: cover;
    margin: 15px auto;
    border-radius: 100%;
}

.our-product-content ol i{
    color: var(--green-color);
}

.our-product-content h3{
    font-size: 1.3rem;
    text-align: center;
    padding: 15px 0px;
}

.our-product-content .card button{
    color: var(--green-color);
    background-color: transparent;
    border: 1px solid var(--green-color);
    display: block;
    margin: auto;
    width: fit-content;
    padding: 15px 25px;
    font-size: 1.04rem;
    border-radius: 10px;
    cursor: pointer;
}

.our-product-content .card button i{
    margin-left: 8px;
}

.our-product-content .card p{
    text-align: center;
    padding-top: 15px;
    color: var(--green-color);
}

.old-price{
    text-decoration: line-through;
    opacity: 0.4;
    color: var(--black-color);
    margin-right: 10px;
}